body {
    width: 100%;
    background-color: lightgrey;
}

#header {
    background-color:#424242;
    color: #FAFAFA;
    width: 100%;
    height: 60px;
    padding-right: 10px;
    margin-bottom: 2%;
    margin-top: -10px;
    margin-left: -10px;
}

#main-content {
    background-color: #7c0a02;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 0%;
    box-shadow: 0px 3px 3px 3px grey;
    margin-bottom: 80px;
}

#about {
    background-color: #424242;
    color: #FAFAFA;
}

#about p {
    text-align: center;
    padding: 5%;
}

#card-rows {
    margin-left: 2%;
    margin-right: 2%;
}

#card-rows h2 {
    color: white;
}

#row-one {
    display: flex;
    margin: auto;
    margin-top: 20px;
}

#row-two {
    display: flex;
    margin: auto;
}

#row-three {
    display: flex;
    margin: auto;
}

#card {
    flex: 1;
    margin: 20px;
    /* border: 1px solid #f7f5fa; */
    background-color: white;
    border-radius: 10px;
}

#card img {
    border-radius: 4px;
}

#card h2 {
    padding: 6%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Abel', sans-serif;
}

#card p {
    padding: 8%;
    padding-top: 0;
    height: 20%;
    font-family: 'Abel', sans-serif;
    margin-bottom: 15%;
}

#card button {
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 5%;
    padding: 2%;
    text-align: center;
    width: 100px;
    background-color: #424242; 
    border: 1px solid #424242;
    color: #FAFAFA;
    font-family: 'Abel', sans-serif;
    font-size: medium;
}

#certificates {
    text-align:  center;
    padding: 30px;
    background-color: #424242;
    color: #FAFAFA;
}

#footer {
    margin-top: 10%;
    padding: 10px;
    text-align: center;
    color: #424242;
    font-family: 'Abel', sans-serif;
}

#copywrite {
    font-size: xx-small;
}

/* ---Home Contruction Page--- */
#top-section {
    background-color: #424242;
    text-align: center;
    color: white;
    padding: 1%;
}

#info-section {
    display: flex;
    width: 100%;
    margin: auto;
    
}

#info-one {
    flex: 1;
    padding: 5%;
    margin: auto;
    text-align: start;
}

#info-two {
    flex: 1;
    padding: 5%;
    margin: auto;
}

#portfolio-section {
    border: 1px solid black;
    height: 200px;
}

#quote-section {
    background-color: #424242;
    color: white;
    padding: 2%;
    text-align: center;
}