body {
    width: 100%;
    background-color: #f5eee6;
}

#header {
    background-color: #1c1d24;
    opacity: 95%;
    color: #ffffff;
    width: 100%;
    height: 60px;
    padding-right: 10px;
    margin-bottom: 2%;
    margin-top: -10px;
    margin-left: -10px;
    display: flex;
}

#nav-section {
    display: flex;
    margin: auto;
    
}

#nav-section ul{
 display: flex;
 margin: auto;
 text-align: center;

}

#nav-section h5 {
    flex: 1;
}

#nav-section li {
    flex: 1;
    display: flex;
    padding-right: 15px;

   
 
    
}

#nav-section a {
    text-decoration: none;
    color: #ffffff;
}


#main-content {
    background-color: #a52a2a;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 8%;
    box-shadow: 0px 3px 3px 3px grey;
}

#about {
    background-color: #a52a2a;
    color: #ffffff;
}

#about p {
    text-align: center;
    padding: 5%;
}

#card-rows {
    margin-left: 2%;
    margin-right: 2%;
}

#card-rows h2 {
    color: #1c1d24;
}

#row-one {
    display: flex;
    margin: auto;
    margin-top: 20px;
}

#row-two {
    display: flex;
    margin: auto;
}

#row-three {
    display: flex;
    margin: auto;
}

#card {
    flex: 1;
    margin: 20px;
    /* border: 1px solid #f7f5fa; */
    background-color: #f5eee6;
    border-radius: 10px;
}

#card img {
    border-radius: 4px;
}

#card h2 {
    padding: 6%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #1c1d24;
    font-family: 'Abel', sans-serif;
}

#card p {
    padding: 8%;
    padding-top: 0;
    height: 20%;
    color: #1c1d24;
    font-family: 'Abel', sans-serif;
    margin-bottom: 15%;
}

#card button {
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 5%;
    padding: 2%;
    text-align: center;
    width: 100px;
    background-color: #1c1d24;
    opacity: 95%; 
    border: 1px solid #1c1d24;
    opacity: 95%;
    color: #ffffff;
    font-family: 'Abel', sans-serif;
    font-size: medium;
}

#certificates {
    text-align:  center;
    padding: 30px;
    background-color: #1c1d24;
    opacity: 95%;
    color: #ffffff;
}

#footer {
    margin-top: 5%;
    padding: 10px;
    text-align: center;
    color: #1c1d24;
    font-family: 'Abel', sans-serif;
}

#copywrite {
    font-size: xx-small;
}

/* ---Home Contruction Page--- */
#top-section {
    background-color: #1c1d24;
    opacity: 95%;
    
    text-align: center;
    color: #ffffff;
   
    margin-top: -4%;
    
}

#top-section h1 {
    padding: 15px;
}

#info-section {
    display: flex;
    width: 100%;
    margin: auto;
    
}

#info-one {
    flex: 1;
    padding: 5%;
    margin: auto;
    text-align: start;
}

#info-two {
    flex: 1;
    padding: 5%;
    margin: auto;
}

#portfolio-section {
    height: auto;
    margin-bottom: 5%;
}

#portfolio-section img {
    margin: 5%;
    margin-bottom: 0;
    border: 1px solid #f5eee6;
    border-radius: 4px;
}

#quote-section {
    background-color: #1c1d24;
    opacity: 95%;
    color: #ffffff;
    padding: 2%;
    text-align: center;
}

/* ---Decks and Siding--- */

#deck-info {
    color: #ffffff;
    text-align: center;
    padding: 5%;
}


#deck-img {
    margin-bottom: 5%;
}

#deck-img img {
    margin: 5%;
    margin-bottom: 0;
    border: 1px solid #f5eee6;
    border-radius: 4px;
}

#siding-info {
    color: #ffffff;
    text-align: center;
    padding: 5%;
}


#siding-img {
    height: auto;
    margin-bottom: 5%;
    padding-bottom: 3%;
}

#siding-img img {
    margin: 5%;
    margin-bottom: 0;
    border: 1px solid #f5eee6;
    border-radius: 4px;
}

/* ---Remodling--- */

#remodel-main {
    display: flex;
    width: 100%;
    margin: auto;
    margin-bottom: 15%;
}

#remodel-info {
    flex: 1;
    padding: 5%;
    margin: auto;
    text-align: start;
}

#remodel-img-side {
    flex: 1;
}

#remodel-img-side img {
    margin: 5%;
    margin-bottom: 0;
    border: 1px solid #f5eee6;
    border-radius: 4px;
}

#remodel-img {
    
}

#remodel-img img {
    margin: 5%;
    margin-bottom: 5%;
    margin-top: 0;
    border: 1px solid #f5eee6;
    border-radius: 4px;
}


/* ---Insulations Page--- */

#spray {
    display: flex;
    width: 100%;
    margin: auto;
}

#spray-info {
    flex: 1;
    padding: 5%;
    margin: auto;
    text-align: start;
    color: #ffffff;
}

#spray-img {
    flex: 1;
    margin-bottom: 8%;
    margin: auto;
}

#spray-img img {
    margin: 5%;
    margin-bottom: 0;
    border: 1px solid #f5eee6;
    border-radius: 4px;
}

#blown {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 1%;
    padding-bottom: 3%;
}

#blown-img {
    flex: 1;
    margin: auto;
}

#blown-img img {
    margin: 5%;
    margin-bottom: 0;
    border: 1px solid #f5eee6;
    border-radius: 4px;
}

#blown-info {
    flex: 1;
    padding: 5%;
    margin: auto;
    text-align: start;
    color: #ffffff;
}